@page "/assembler"
@using InstructionSetProject.Backend;
@using InstructionSetProject.Backend.StaticFrontend;
@inject IJSRuntime JSRuntime

<div class="code_input">
    <div class="code_input_wrapper">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-6 assemLabel">
                        <label for="assemble">Assembler</label>
                        <h6>(Assembly Code)</h6>
                    </div>
                    <div class="col-sm-6 fileLoad">
                        <InputFile OnChange="@LoadFile" accept=".txt"></InputFile>
                    </div>

                </div> 
            </div>
    
            <div class="col-sm-2"></div>


            <div class="col-sm-5">
                <label for="outputAss">Output</label>
                <h6>(Machine Code)</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <textarea @bind="currentCodeAss" id="assemble" name="assemble"></textarea>
                <p>
                    <button @onclick="SaveAssemblyCode" type="button" name="dis_btn" class="btn btn-primary btn-lg">Save Code</button>
                </p>
            </div>
    
            <div class="col-sm-2">
                <div>
                    <button @onclick="Assemble" type="button" name="ass_btn" class="btn btn-primary btn-lg">
                        <img src="chevron-double-right.svg"/>
                    </button>
                </div>
            </div>
    
            <div class="col-sm-5">
                <textarea @bind="currentCodeOutAss" id="outputAss" name="outputAss" readonly></textarea>
                <p>
                    <button @onclick="SaveOutput" type="button" name="dis_btn" class="btn btn-primary btn-lg">Save Output</button>
                </p>
            </div>
        </div>
    </div>
</div>

@code {

    private string currentCodeAss { get; set; }
    private string currentCodeOutAss { get; set; }

    private List<byte> machineCode = new List<byte>();

    private string fileContent = "";

    private void Assemble()
    {
        machineCode = Assembler.Assemble(currentCodeAss);
        string hexCode = BitConverter.ToString(machineCode.ToArray());
        currentCodeOutAss = hexCode.Replace("-", " ");
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;
        long maxsize = 512000;

        var buffer = new byte[file.Size];
        await file.OpenReadStream(maxsize).ReadAsync(buffer);
        fileContent = System.Text.Encoding.UTF8.GetString(buffer);
        currentCodeAss = fileContent;
    }

    private async Task SaveAssemblyCode()
    {
        byte[] file = System.Text.Encoding.UTF8.GetBytes(currentCodeAss);
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", "assemblyCode.txt", "text/plain", file);
    }

    private async Task SaveOutput()
    {
        byte[] file = System.Text.Encoding.UTF8.GetBytes(currentCodeOutAss);
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", "machineCode.txt", "text/plain", file);
    }

    protected override async Task OnInitializedAsync()
    {
        StartupMethod();
    }

    void StartupMethod()
    {
        currentCodeAss = FrontendVariables.getCurrentCodeAssembler();
        FrontendVariables.setCurrentCodeAssembler("");
    }

}
