@page "/disassembler"
@using InstructionSetProject.Backend;
@using InstructionSetProject.Backend.StaticFrontend;
@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime

<style>
    .dark-mode-disassembler-code-input {
        background-color: #002833;
        padding: 0px 20px 20px 20px;
        margin-top: 10px;
        border: solid 2px #003033;
        color: #DEB992;
        font-family: 'Courier New', sans-serif;
    }

    .dark-mode-disassembler-textarea {
        background-color: black;
        color: #adadad;
    }

    .dark-mode-disassembler-btn {
        background-color: #051622;
        color: #adadad;
        border: 2px solid #003033;
    }

    .dark-mode-disassembler-btn:hover {
        background-color: #004a52;
        color: #adadad;
        border: 2px solid #003033;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .monacoEditorCSS {
        margin-bottom: 8px;
        width: 100%;
        height: 595px;
        border: 2px solid gray;
    }
</style>


<div class="code_input_disassembler">
    <div class="code_input_wrapper">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-6 disLabel">
                        <label for="disassemble">Disassembler</label>
                        <h6>(Machine Code)</h6>
                    </div>
                    <div class="col-sm-6 fileLoad">
                        <InputFile OnChange="@LoadFile" accept=".txt"></InputFile>
                    </div>

                </div> 
                
            </div>
    
            <div class="col-sm-2"></div>


            <div class="col-sm-5">
                <label for="outputDis">Output</label>
                <h6>(Assembly Table)</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <textarea @bind="currentCodeDis" id="disassemble" name="disassemble" placeholder="@machinePlaceholder"></textarea>
                <p>
                    <button @onclick="SaveMachineCode" type="button" name="dis_btn" class="btn btn-primary btn-lg disBtn">Save Code</button>
                    <button @onclick="OpenMachineCodeExecutor" type="button" name="dis_exec_btn" class="btn btn-primary btn-lg float-end disBtn">Open Executor</button>
                </p>
            </div>
    
            <div class="col-sm-2">
                <div>
                    <button @onclick="Disassemble" type="button" name="dis_btn" class="btn btn-primary btn-lg disBtn">
                        &raquo;
                    </button>
                </div>
            </div>
    
            <div class="col-sm-5">
                <MonacoEditor @ref="_editorDis" Id="MonacoEditorID" ConstructionOptions="EditorConstructionOptions" CssClass="monacoEditorCSS" OnDidInit="EditorOnDidInit"/>
                <!--<textarea @bind="currentCodeOutDis" id="outputDis" name="outputDis" readonly></textarea>-->
                <p>
                    <button @onclick="SaveOutput" type="button" name="dis_btn" class="btn btn-primary btn-lg disBtn">Save Output</button>
                </p>
            </div>
        </div>
    </div>
</div>

@code {
    public string currentCodeDis { get; set; } = "";
    private string currentCodeOutDis { get; set; } = "";
    private string machinePlaceholder = "60 D1 64 D1...";

    private string fileContent = "";
    private string assemblyCode = "";

    private MonacoEditor? _editorDis { get; set; }

    bool darkModeDisassemblerPage = FrontendVariables.darkMode;

    protected override async Task OnAfterRenderAsync (bool firstRender)
    {
        if (darkModeDisassemblerPage == true)
        {
            await JSRuntime.InvokeVoidAsync("toggleDarkModeJS", darkModeDisassemblerPage);
            FrontendVariables.darkModeDisassembler = darkModeDisassemblerPage;
            FrontendVariables.darkModeDisassemblerChanged = true;
        }
        if (firstRender)
        {
            await _editorDis.SetValue("");
        }
    }

    private void Disassemble()
    {
        currentCodeOutDis = FrontDisassemble.Disassemble(currentCodeDis);
        _editorDis.SetValue(currentCodeOutDis);
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;
        long maxsize = 512000;

        var buffer = new byte[file.Size];
        await file.OpenReadStream(maxsize).ReadAsync(buffer);
        fileContent = System.Text.Encoding.UTF8.GetString(buffer);
        currentCodeDis = fileContent;
    }

    private async Task SaveMachineCode()
    {
        byte[] file = System.Text.Encoding.UTF8.GetBytes(currentCodeDis);
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", "machineCode.txt", "text/plain", file);
    }

    private async Task SaveOutput()
    {
        byte[] file = System.Text.Encoding.UTF8.GetBytes(assemblyCode);
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", "assemblyCode.txt", "text/plain", file);
    }

    private void OpenMachineCodeExecutor()
    {
        FrontendVariables.currentMachineCodeExecutor = currentCodeDis;
        UriHelper.NavigateTo("executor");
    }

    protected override async Task OnInitializedAsync()
    {
        StartupMethod();
    }

    void StartupMethod()
    {
        currentCodeDis = FrontendVariables.currentCodeDisassembler;
        FrontendVariables.currentCodeDisassembler = "";
    }

    // Monaco Editor

    private StandaloneEditorConstructionOptions EditorConstructionOptions(MonacoEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Language = "ISInstructionSet",
            Value = ""
        };
    }

    private async Task EditorOnDidInit(MonacoEditorBase editor)
    {
        var newDecorations = new ModelDeltaDecoration[]
        {
            new ModelDeltaDecoration
            {
                Range = new BlazorMonaco.Range(3,1,3,1),
                Options = new ModelDecorationOptions
                {
                    IsWholeLine = true,
                    ClassName = "decorationContentClass",
                    GlyphMarginClassName = "decorationGlyphMarginClass"
                }
            }
        };

        await MonacoEditorBase.DefineTheme("ISTheme", new StandaloneThemeData
        {
            Base = FrontendVariables.darkMode ? "vs-dark" : "vs",
            Inherit = false,
            Rules = new List<TokenThemeRule>
            {
                new TokenThemeRule { Background = (FrontendVariables.darkMode ? "000000" : "FFFFFF"), Foreground = (FrontendVariables.darkMode ? "E0E0E0" : "000000")},
                new TokenThemeRule { Token = "mnemonic", Foreground = (FrontendVariables.darkMode ? "4353FA" : "0524a3") },
                new TokenThemeRule { Token = "register", Foreground = (FrontendVariables.darkMode ? "999900" : "777700") },
                new TokenThemeRule { Token = "comment", Foreground = (FrontendVariables.darkMode ? "119922" : "11AA22"), FontStyle = "italic" },
                new TokenThemeRule { Token = "addressModes", Foreground = (FrontendVariables.darkMode ? "FF7DA4" : "94072d") },
                new TokenThemeRule { Token = "branchLabel", Foreground = (FrontendVariables.darkMode ? "7E5EFF" : "4b0774") },
            },
            Colors = new Dictionary<string, string>
            {
                ["editor.background"] = (FrontendVariables.darkMode ? "#000000" : "#FFFFFF"),
                ["editorCursor.foreground"] = (FrontendVariables.darkMode ? "#E0E0E0" : "#000000"),
                ["editorLineNumber.foreground"] = "#7A7A7A"
            }
        });

        await MonacoEditorBase.SetTheme("ISTheme");

        if (currentCodeOutDis != "")
        {
            await _editorDis.SetValue(currentCodeOutDis);
        }

        await JSRuntime.InvokeVoidAsync("setupMonacoLanguage");
    }

}
