@page "/disassembler"
@using InstructionSetProject.Backend;
@using InstructionSetProject.Backend.StaticFrontend;
@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime

<style>
    .dark-mode-disassembler-code-input {
        background-color: #002833;
        padding: 0px 20px 20px 20px;
        margin-top: 10px;
        border: solid 2px #003033;
        color: #DEB992;
        font-family: 'Courier New', sans-serif;
    }

    .dark-mode-disassembler-textarea {
        background-color: black;
        color: #adadad;
    }

    .dark-mode-disassembler-btn {
        background-color: #051622;
        color: #adadad;
        border: 2px solid #003033;
    }

    .dark-mode-disassembler-btn:hover {
        background-color: #004a52;
        color: #adadad;
        border: 2px solid #003033;
    } 
</style>


<div class="code_input_disassembler">
    <div class="code_input_wrapper">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-6 disLabel">
                        <label for="disassemble">Disassembler</label>
                        <h6>(Machine Code)</h6>
                    </div>
                    <div class="col-sm-6 fileLoad">
                        <InputFile OnChange="@LoadFile" accept=".txt"></InputFile>
                    </div>

                </div> 
                
            </div>
    
            <div class="col-sm-2"></div>


            <div class="col-sm-5">
                <label for="outputDis">Output</label>
                <h6>(Assembly Table)</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <textarea @bind="currentCodeDis" id="disassemble" name="disassemble" placeholder="@machinePlaceholder"></textarea>
                <p>
                    <button @onclick="SaveMachineCode" type="button" name="dis_btn" class="btn btn-primary btn-lg disBtn">Save Code</button>
                    <button @onclick="OpenMachineCodeExecutor" type="button" name="dis_exec_btn" class="btn btn-primary btn-lg float-end disBtn">Open Executor</button>
                </p>
            </div>
    
            <div class="col-sm-2">
                <div>
                    <button @onclick="Disassemble" type="button" name="dis_btn" class="btn btn-primary btn-lg disBtn">
                        &raquo;
                    </button>
                </div>
            </div>
    
            <div class="col-sm-5">
                <textarea @bind="currentCodeOutDis" id="outputDis" name="outputDis" readonly></textarea>
                <p>
                    <button @onclick="SaveOutput" type="button" name="dis_btn" class="btn btn-primary btn-lg disBtn">Save Output</button>
                </p>
            </div>
        </div>
    </div>
</div>

@code {
    public string currentCodeDis { get; set; } = "";
    private string currentCodeOutDis { get; set; } = "";
    private string machinePlaceholder = "60 D1 64 D1...";

    private string fileContent = "";
    private string assemblyCode = "";

    bool darkModeDisassemblerPage = FrontendVariables.darkMode;

    protected override async Task OnAfterRenderAsync (bool firstRender)
    {
        if (darkModeDisassemblerPage == true)
        {
            await JSRuntime.InvokeVoidAsync("toggleDarkModeJS", darkModeDisassemblerPage);
            FrontendVariables.darkModeDisassembler = darkModeDisassemblerPage;
            FrontendVariables.darkModeDisassemblerChanged = true;
        }
    }

    private void Disassemble()
    {
        currentCodeOutDis = FrontDisassemble.Disassemble(currentCodeDis);
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;
        long maxsize = 512000;

        var buffer = new byte[file.Size];
        await file.OpenReadStream(maxsize).ReadAsync(buffer);
        fileContent = System.Text.Encoding.UTF8.GetString(buffer);
        currentCodeDis = fileContent;
    }

    private async Task SaveMachineCode()
    {
        byte[] file = System.Text.Encoding.UTF8.GetBytes(currentCodeDis);
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", "machineCode.txt", "text/plain", file);
    }

    private async Task SaveOutput()
    {
        byte[] file = System.Text.Encoding.UTF8.GetBytes(assemblyCode);
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", "assemblyCode.txt", "text/plain", file);
    }

    private void OpenMachineCodeExecutor()
    {
        FrontendVariables.currentMachineCodeExecutor = currentCodeDis;
        UriHelper.NavigateTo("executor");
    }

    protected override async Task OnInitializedAsync()
    {
        StartupMethod();
    }

    void StartupMethod()
    {
        currentCodeDis = FrontendVariables.currentCodeDisassembler;
        FrontendVariables.currentCodeDisassembler = "";
    }

}
