@page "/disassembler"
@using InstructionSetProject.Backend;
@using InstructionSetProject.Backend.StaticFrontend;
@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime


<div class="code_input">
    <div class="code_input_wrapper">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-6 disLabel">
                        <label for="disassemble">Disassembler</label>
                        <h6>(Machine Code)</h6>
                    </div>
                    <div class="col-sm-6 fileLoad">
                        <InputFile OnChange="@LoadFile" accept=".txt"></InputFile>
                    </div>

                </div> 
                
            </div>
    
            <div class="col-sm-2"></div>


            <div class="col-sm-5">
                <label for="outputDis">Output</label>
                <h6>(Assembly Table)</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <textarea @bind="currentCodeDis" id="disassemble" name="disassemble" placeholder="@machinePlaceholder"></textarea>
                <p>
                    <button @onclick="SaveMachineCode" type="button" name="dis_btn" class="btn btn-primary btn-lg">Save Code</button>
                    <button @onclick="OpenMachineCodeExecuter" type="button" name="dis_exec_btn" class="btn btn-primary btn-lg float-end">Open Executer</button>
                </p>
            </div>
    
            <div class="col-sm-2">
                <div>
                    <button @onclick="Disassemble" type="button" name="dis_btn" class="btn btn-primary btn-lg">
                        <img src="chevron-double-right.svg"/>
                    </button>
                </div>
            </div>
    
            <div class="col-sm-5">
                <textarea @bind="currentCodeOutDis" id="outputDis" name="outputDis" readonly></textarea>
                <p>
                    <button @onclick="SaveOutput" type="button" name="dis_btn" class="btn btn-primary btn-lg">Save Output</button>
                </p>
            </div>
        </div>
    </div>
</div>

@code {
    public string currentCodeDis { get; set; } = "";
    private string currentCodeOutDis { get; set; } = "";
    private string machinePlaceholder = "60 D1 64 D1...";

    private string fileContent = "";
    private string assemblyCode = "";

    private void Disassemble()
    {
        currentCodeOutDis = FrontDisassemble.Disassemble(currentCodeDis);
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;
        long maxsize = 512000;

        var buffer = new byte[file.Size];
        await file.OpenReadStream(maxsize).ReadAsync(buffer);
        fileContent = System.Text.Encoding.UTF8.GetString(buffer);
        currentCodeDis = fileContent;
    }

    private async Task SaveMachineCode()
    {
        byte[] file = System.Text.Encoding.UTF8.GetBytes(currentCodeDis);
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", "machineCode.txt", "text/plain", file);
    }

    private async Task SaveOutput()
    {
        byte[] file = System.Text.Encoding.UTF8.GetBytes(assemblyCode);
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", "assemblyCode.txt", "text/plain", file);
    }

    private void OpenMachineCodeExecuter()
    {
        FrontendVariables.currentMachineCodeExecuter = currentCodeDis;
        UriHelper.NavigateTo("executer");
    }

    protected override async Task OnInitializedAsync()
    {
        StartupMethod();
    }

    void StartupMethod()
    {
        currentCodeDis = FrontendVariables.currentCodeDisassembler;
        FrontendVariables.currentCodeDisassembler = "";
    }

}
