body {
}

label {
    font-size: 30px;
    padding-top: 5%;
}

#Dissassemble {
    width: 100%;
}

#Assemble {
    width: 100%;
}

.col-sm-2 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.main {
    padding-left: 10px;
    padding-right: 10px;
}

button {
    margin: 15px 0 15px 0;
}
