@page "/"

<style>
    .cont-parent {
        align-content: center;
        text-align: center;
    }

    .container {
        border: solid 2px rgb(100, 100, 100);
        background-color: #20639B;
    }

    p {
        font-size: 20px; 
    }
</style>

<div class="cont-parent">
    <div class="container">
        <br />
        <h1>Come try out our instruction set!</h1><br /><hr /><br />

        <p>We currently offer two options for this architecture:</p>
        <p>Disassembly<br />Assembly</p><br />

        <p>Both of these options are available in the top navigation menu.</p><br /><hr /><br />

        <h3>Disassembler</h3>

        <p>
            Our disassembler allows you to type in your machine (hex) code into the left hand text box and
            by clicking the arrow button in the middle it will disassemble your code into a clean table 
            organizing the instruction types, totals, summaries, etc.
        </p><br />

        <h3>Assembler</h3>

        <p>
            Our assembler allows you to type in the assembly (IS Instruction Set) code into the left hand text
            box and by clicking the arrow button in the middle it will assemble your code into its machine code
            variant ready for compilation and execution (possible future iterations).
        </p>
        <br />
        
        <SfDiagramComponent Width="200px" Height="100px"></SfDiagramComponent>
    </div>
</div>


@code {

}