@page "/"

<PageTitle>Instruction Set</PageTitle>

<h1>The Instruction Set Instruction Set</h1>

<div class="main">
    <div class="row">
        <div class="col-sm-5">
            <label for="Dissassemble">Dissassemble</label>
        </div>
    
        <div class="col-sm-2"></div>


        <div class="col-sm-5">
            <label for="Assemble">Assemble</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <textarea id="Dissassemble" name="Dissassemble" rows="50"></textarea>
        </div>
    
        <div class="col-sm-2">
            <div>
                <button class="buttons">DIS</button><br/>
                <button class="buttons">ASS</button>
            </div>
        </div>
    
        <div class="col-sm-5">
            <textarea id="Assemble" name="Assemble" rows="50"></textarea>
        </div>
    </div>
</div>


