@page "/"
@inject NavigationManager UriHelper

<style>
    .cont-parent {
        align-content: center;
        text-align: center;
    }

    .container {
        border: solid 2px rgb(100, 100, 100);
        background-color: #20639B;
    }

    p {
        font-size: 20px; 
    }
</style>

<div class="cont-parent">
    <div class="container">
        <br />
        <h1>Come try out our instruction set!</h1><br /><hr /><br />

        <p>We currently offer three options for this architecture:</p>
        <p>Disassembly<br />Assembly<br />Execution with 5 stage pipelining</p><br />

        <p>All of these options are available in the top navigation menu.</p><br /><hr /><br />

        <h3 @onclick="() => NavigateDisassembler()">Disassembler</h3>

        <p>
            Our disassembler allows you to type in your machine (hex) code into the left hand text box and
            by clicking the arrow button in the middle it will disassemble your code into its assembly code
            counterpart.
        </p>
        <br />

        <h3 @onclick="() => NavigateAssembler()">Assembler</h3>

        <p>
            Our assembler allows you to type in the assembly (IS Instruction Set) code into the left hand text
            box and by clicking the arrow button in the middle it will assemble your code into its machine code
            variant.
        </p>
        <br />
        
        <h3 @onclick="() => NavigateExecutor()">Execution (New)</h3>

        <p>
            Our executor allows you to type in assembly code from our instruction set in the Executor tab and there
            are many options for execution along the top toolbar. From here you can build, run, debug, step, clock, 
            continue, stop, and view our data path. The data path allows you to see how each instruction interacts 
            with a hypothetical CPU. There is highlighting of instructions throughout each stage in the pipeline. 
            There are many other tools to play around with and details to discover so go give it a try!
        </p>
        <br />
    </div>
</div>


@code {
    void NavigateAssembler()
    {
        UriHelper.NavigateTo("assembler");
    }

    void NavigateDisassembler()
    {
        UriHelper.NavigateTo("disassembler");
    }

    void NavigateExecutor()
    {
        UriHelper.NavigateTo("executor");
    }
}